[Unit]
Description=SkeletonMQ Inbox Service
After=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
EnvironmentFile=/opt/skeletonmq/.env
ExecStart=/opt/skeletonmq/bin/skeletonmq-inbox
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
